* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before {
    margin: 0;
    padding: 0;
}

/* Import font family - Inter */
@font-face {
    font-family: "Inter Light";
    src: url("./fonts/inter/Inter_18pt-Light.woff2") format("woff2");
    src: url("./fonts/inter/Inter_18pt-Light.woff") format("woff");
}

@font-face {
    font-family: "Inter Regular";
    src: url("./fonts/inter/Inter_18pt-Regular.woff2") format("woff2");
    src: url("./fonts/inter/Inter_18pt-Regular.woff") format("woff");
}

:root {
    --primary-color: green;
    --text-color: white;
    --light-color: rgba(255, 255, 255, 0.6);
    --icons-color: rgba(255, 255, 255, 1);
    --background-color: rgba(0, 0, 0, 0.4);
    --mid-light-color: rgba(255, 255, 255, 0.7)
}

body {
    background-color: black;
    background: url("./images/background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
    backdrop-filter: blur(8px);
}

/* All i tags styling */
.wrapper .material-icons, 
.library-main-container .material-icons {
    color: var(--icons-color);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;   
}

.wrapper .material-icons:hover, 
.library-main-container i:hover {
    opacity: 0.8;
}

/* =====================
  WRAPPER MAIN CONTAINER
  ======================
*/
.wrapper, 
.library-main-container {
    font-family: "Inter Light";
    font-size: 1.2rem;
    width: 100%;
    max-width: 385px;
    border-radius: 50px;
    color: var(--text-color);
    border: 1px solid gray;
    background-position: center;
    background-size: 385px;
}

.wrapper {
    position: relative;
}

.wrapper > div {
    padding: 3em 1em;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 100%;
    height: 625px;
    border-radius: 50px;
}

/* music player top-bar styling */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.top-bar i {
    height: 100%;
    position: relative;
}

.top-bar i.liked {
    color: #E30022;
}

/* i tags before effect */
.top-bar i::before,
.skip::before, 
.play-pause-btn i::before, 
.lib-top-bar i::before,
.lib-song-play::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

/* song details and image styling */
.song-details .main-image {
    border-radius: 50%;
    /* width: 70%; */
    display: block;
    margin: 1.8em auto 1em;
}

.song-details {
    text-align: center;
    font-family: "Inter Light";
}

.song-details .music-name {
    font-size: 1.5rem;
    line-height: 1.5;
    filter: brightness(140%);
}

.song-details .artist-name {
    font-size: 1rem;
    color: var(--light-color);
}


/* progress area styling */
.progress-area {
    margin-top: 3em;
}

.progress-area #song-progress-bar {
    border-radius: 15px;
    width: 100%;
    position: relative;
    height: 4px;
    background-color: grey;
    cursor: pointer;
}

#bar {
    position: absolute;
    height: inherit;
    border-radius: inherit;
    background-color: var(--primary-color);
}

#bar::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    right: 0;
    background-color: var(--primary-color);
    border-radius: 50%;
    top: 50%;
    transform: translate(50%, -50%);
}

.progress-area .music-time {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3em;
}

.music-time span {
    color: var(--light-color);
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* player controls styling */
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.8em 0.5em 0;
}

.controls i {
    font-size: 1.9rem;
}

i.skip {
    height: 100%;
    position: relative;
}

.skip::before {
    background-color: rgba(255, 255, 255, 0.1);
}

.play-pause-btn i {
    position: relative;
    z-index: 1;
}

.play-pause-btn i::before {
    width: 70px;
    height: 70px;
    background-color: var(--primary-color);
    z-index: -1;
}

/* ======================
   MUSIC PLAYLIST STYLING
   ======================
*/
/* library main-container */
#library-main-container {
    position: absolute;
    height: 100%;
    left: 0;
    overflow-y: hidden;
    padding: 3em 0em;
    padding-left: 1.2em;
    transition: all 1s ease-in-out;
}

.show-songs {
    transform: translateY(-100%);
    opacity: 1;
    visibility: visible;
}

.hide-songs {
    transform: translateY(0%);
    opacity: 0;
    visibility: hidden;
}

.lib-top-bar, .categories {
    padding-right: 1.5em;
}

.lib-music-data {
    padding-right: 1.2em;
    height: 400px;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: all 0.2s ease;
    scrollbar-gutter: stable;
}

.lib-music-data:hover {
    overflow-y: auto;
}

.lib-music-data::-webkit-scrollbar {
    width: 3px;
}

.lib-music-data::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--light-color);
    display: inline;
} 

/* library top bar */
.lib-top-bar {
    display: flex;
    font-size: 1.4rem;
}

.lib-top-bar p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.lib-top-bar i {
    position: relative;
    color: var(--icons-color);
    cursor: pointer;
}

.lib-top-bar i::before {
    width: 45px;
    height: 45px;
}

/* Categories section styling */
.categories {
    display: flex;
    margin-block: 2em;
    gap: 2.5em;
    padding-left: 0.7em;
}

.categories span {
    position: relative;
    width: 100%;
    white-space: nowrap;
    color: var(--mid-light-color);
    cursor: pointer;
}

.no-songs-message {
    text-align: center;
    margin-top: 50%;
    color: var(--mid-light-color);
    font-size: 1rem;
}

.categories span:hover {
    opacity: 0.8;
}

.categories span::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 1em;
    width: 100%;
    height: 45px;
    border-radius: 30px;
    z-index: -1;
}

.categories span.current-tab {
    color: #252525;
    font-weight: 600;
}

.categories span.current-tab::before {
    background-color: rgb(154, 255, 154);
}

/* library music data styling */
#lib-songs-list #song {
    display: flex;
    align-items: center;
    gap: 0.7em;
    margin-block: 0.8em;
    transition: all 0.2s ease;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#song:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 0 0.5em;
    z-index: -1;
}

#song:hover {
    padding-left: 0.1em;
}

#song .lib-song-play {
    position: relative;
}

#song .lib-song-play::before {
    width: 38px;
    height: 38px;
}

.song-details {
    font-size: 1rem;
    /* padding-block: 0.4em; */
}

.song-details .song-name {
    font-family: "Inter Regular";
    text-align: left;
    line-height: 1.5;
}

.green {
    color: rgb(154, 255, 154);
}

.song-details .song-artist {
    line-height: 1.5;
    text-align: left;
    color: var(--mid-light-color);
    font-size: 0.9rem;
}

.song-artist span {
    color: var(--text-color);
}

.lib-song-play {
    margin-left: auto;
}

#song .song-image {
    width: 60px;
    height: 60px;
    border-radius: 30%;
    z-index: -1;
    display: block;
}

.gif {
    position: relative;
}

#song > .gif::after {
    content: "";
    display: block;
    background: url('./images/music_wave.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 60px; 
    height: 60px;
    left: 0%;
    top: 0%;
    border-radius: 30%;
}

@media (max-width: 450px) {
    body {
        height: 100vh;
        overflow: hidden;
    }

    .wrapper, 
    .library-main-container {
        min-width: 100vw;
        width: 100%;
        height: 100vh;
        border-radius: 0px;
        border: 0;
    }

    .wrapper > div {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .lib-music-data {
        height: 77%;
    }
}