* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before {
    margin: 0;
    padding: 0;
}

/* @font-face {
    font-family: "Roboto Light";
    src: url("./fonts/Roboto-Light.woff2") format("woff2");
    src: url("./fonts/Roboto-Light.woff") format("woff");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("./fonts/Roboto-Regular.woff2") format("woff2");
    src: url("./fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("./fonts/Roboto-Thin.woff2") format("woff2");
    src: url("./fonts/Roboto-Thin.woff") format("woff");
} */

@font-face {
    font-family: "Inter Light";
    src: url("./fonts/inter/Inter_18pt-Light.woff2") format("woff2");
    src: url("./fonts/inter/Inter_18pt-Light.woff") format("woff");
}

:root {
    /* --primary-color: #c1df6e; */
    --primary-color: green;
    --text-color: white;
    --light-color: rgba(255,255,255,0.6);
    --icons-color: rgba(255, 255, 255, 1);
    --background-color: rgba(0,0,0,0.4);
}

body {
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
}

.wrapper .material-icons {
    color: var(--icons-color);
    cursor: pointer;
}

.wrapper .material-icons:hover {
    opacity: 0.8;
}

/* wrapper styling */
.wrapper {
    font-family: "Inter Light";
    font-size: 1.2rem;
    width: 100%;
    max-width: 385px;
    border-radius: 50px;
    color: var(--text-color);
    border: 1px solid gray;
    background-position: center;
    /* background: linear-gradient(rgba(0,0,0,0.1), #0c0c0c 60%), url("./images/heathens.jfif") no-repeat; */
    background-size: 385px;
}

.wrapper > div {
    padding: 3em 1em;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 100%;
    border-radius: 50px;
}

/* .wrapper::before {
    content: url('./fonts/img.jpg');
    content: "";
    display: inline-block;
    scale: 0.85;
    position: absolute;
    z-index: -1;
    left: 48%;
    top: 0%;
    filter: blur(25px);
    transform: translate(-55%, 0%);
} */

/* top-bar styling */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.top-bar i {
    height: 100%;
    position: relative;
}

.top-bar i::before,
.skip::before, 
.play-pause-btn i::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

/* song details and image styling */
.song-details .main-image {
    border-radius: 50%;
    width: 70%;
    display: block;
    margin: 1.8em auto 1em;
}

.song-details {
    text-align: center;
    font-family: "Inter Light";
}

.song-details .music-name {
    /* letter-spacing: 1.2px; */
    font-size: 1.5rem;
    line-height: 1.5;
    filter: brightness(140%);
}

.song-details .artist-name {
    font-size: 1rem;
    color: var(--light-color);
}


/* progress area styling */
.progress-area {
    margin-top: 3em;
}

.progress-area progress {
    /* appearance: none;
    border: none; */
    /* height: 6px;
    border-radius: 10px; */

    /* border-color: var(--primary-color); */
}

/* progress::-webkit-progress-value {
    accent-color: red;
} */

.progress-area #song-progress-bar {
    border-radius: 10px;
    width: 100%;
    position: relative;
    height: 4px;
    background-color: grey;
    cursor: pointer;
}

#song-progress-bar::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    left: 0%;
    background-color: var(--primary-color);
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.progress-area .music-time {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3em;
}

.music-time span {
    color: var(--light-color);
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
}

/* controls styling */
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.8em 0.5em 0;
}

.controls i {
    font-size: 1.9rem;
}

i.skip {
    height: 100%;
    position: relative;
}

.skip::before {
    background-color: rgba(255, 255, 255, 0.1);
}

.play-pause-btn i {
    position: relative;
    z-index: 1;
}

.play-pause-btn i::before {
    width: 70px;
    height: 70px;
    background-color: var(--primary-color);
    z-index: -1;
}


